{% extends layout('heroless') %}

{% block content %}
{{ asset_add("theme.js", "finnito.module.moves_library::js/jsTables.js") }}
<div>
    <div class="card">
        <h3 class="card-title">Filter & Search</h3>
        <button class="js-table-reset bg-green">Reset</button>
        <input class="quickSearch" type="text" placeholder="Search.." />
        <div class="button-group style-button-group">
            <p>Styles</p>
            <button data-filter="*" class="is-checked">Show All</button>
            {% for style in styles %}
                <button data-filter="{{ style.slug }}">{{ style.name }}</button>
            {% endfor %}
        </div>

        <div class="button-group level-button-group">
            <p>Levels</p>
            <button data-filter="*" class="is-checked">Show All</button>
            {% for level in levels %}
                <button data-filter="{{ level.slug }}">{{ level.name }}</button>
            {% endfor %}
        </div>

        <div class="button-group counts-button-group">
            <p>Counts</p>
            <button data-filter="*" class="is-checked">Show All</button>
            {% for count in counts %}
                <button data-filter="{{ count }}">{{ count }}</button>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <h1>{{ title }}</h1>
    <div class="js-table-header">
        <div class="name is-checked" data-sort="name">Move</div>
        <div class="style" data-sort="style">Style</div>
        <div class="level" data-sort="level">Level</div>
        <div class="counts" data-sort="counts">Counts</div>
    </div>
    <div class="js-table">
    {% for entry in moves %}
            <a href="/moves-library/{{ entry.slug }}">
                <div class="entry">
                    <div class="icon"><img data-src="{{ entry.youtubeThumbnailURL }}" class="lazy"></div>
                    <div class="name">{{ entry.name }}</div>
                    <div class="style" data-filter="{{ entry.style.slug }}">{{ entry.style.name }}</div>
                    <div class="level" data-filter="{{ entry.level.slug }}">{{ entry.level.name }}</div>
                    <div class="counts" data-filter="{{ entry.counts }}">{{ entry.counts }}</div>
                </div>
            </a>
    {% endfor %}
    </div>

</div>
{% endblock %}