{% extends layout('heroless') %}

{% block content %}
<div>
    <div class="card">
        <h1 class="card-title">{{ move.name }}</h1>
        <div class="flex-apart">
            <p>Style:</p>
            <p>{{ move.style.name }}</p>
        </div>
        <div class="flex-apart">
            <p>Level:</p>
            <p>{{ move.level.name }}</p>
        </div>
        <div class="flex-apart">
            <p>Counts:</p>
            <p>{{ move.counts }}</p>
        </div>
        <div class="description">
            {{ move.description|raw }}
        </div>
    </div>
</div>
<div>
    {% if move.video %}
        <div class="video-container">
            <iframe id="ytplayer" type="text/html"
      src="https://www.youtube.com/embed/{{ move.video|split("?v=")|last }}?autoplay=0"
      frameborder="0" class="center"></iframe>
        </div>
    {% endif %}
</div>
{% endblock %}